#canvas{
    background-color: aqua;
    height: 500px;
    weight: 500PX;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#score{
    color:blue;
    font-size: 48px;
}

#button{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    margin-top: 100px;
}
